/* work sans font form google font  */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;1,700;1,800&display=swap');
  /* share style  */
    .primary-btn{
      color: #FFF;
      font-size: 20px;
      font-weight: 600;
      border-radius: 8px;
      background: #FF900E;
      border: none;
      padding: 20px 25px;
      cursor: pointer;

    }
    .text-light-grey{
       color: #727272;  
    }


  *{
    font-family: 'Work Sans', sans-serif;
  }
  .header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 100px;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 180px; */
  }
  nav h3{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
  }
  .nav ul{
    display: flex;
    /* margin-right: 30px; */
  }
  .nav li{
    margin-right: 30px;
    list-style: none;
    
  }
  .nav li, a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
  }
  /* start bennar  */
  .bennar img{
    width: 100%;
    
  }
 
  .bennar-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
  }
  /* .bennar-tittle{
    width: 100px;
  } */
  .bennar-tittle{
    font-weight:700;
    font-size: 64px;
    color: #131313;
  
  }
  .bennar-description{
    color:  #727272;


font-size: 16px;

font-weight: 400;

  }
  .img-bennar{
    margin-top:20px;
  }

  /* responsive style  */
  /* responsive mobile decices */
 

   
/* main section */
main{
  max-width:1440px;
  padding: 70px auto;
}
/* team style  */
.team-container{
  display: flex;
  align-items: center;
 
 

}
.team-container div{
 width: 50%;
}


.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 70px;
}
.team-img-container img{
  width: 100%;
}
.team-content{
  padding-left: 30px;
  padding-right: 70px;
}
.team-tittle{
  font-size: 45px;
}
.team-list{
  color: #727272;
}
.team-our{
  color: #131313;
font-family: Work Sans;font-size: 45px;

font-weight: 700;

}
.team-features{
  color: #FF900E;

font-size: 45px;

font-weight: 700;

}
.team-discriptiontea{
  color: #727272;
  font-weight: 400;
}
  /* facts section start  */
  .facts{
    padding: 20px 100px;
  }
  .facts-tittle{
    font-weight: 700px;
    color: #131313;
    font-size: 45px;
  }
  .facts-catrd-container{
    display: flex;
    justify-content: space-around;
    
  }
  /* .facts-catrd-container, */
   .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
background-color:#FFF;
padding: 0px 10px;
  }
  .card-stats{
    color:  #424242;

font-size: 45px;

font-weight: 600;

  }
  .card-tittle{
    color:  #727272;

font-size: 20px;

font-weight: 600;

  }










  /* responsive teblet or medium devices */
  @media screen and (max-width:576px) {
    .header{
      padding: 10px;
    }
    .nav,
    .team-container,
    .facts-catrd-container
    {
     flex-direction: column;
    }
    .team-content{
      padding-left: 20px;
      padding-right: 20px;
    }
    .team-img-container{
      grid-template-columns: 1fr;
      padding-left: 20px;
    }
    .facts-catrd-container, .card{
      margin-top: 20px;
    }

 }



  @media screen and (min-width:576px) and (max-width:960px) {
    .nav
    
    {
      flex-direction: column;
    }

    .header{
      padding: 30px;
    }
 
  }
